/* Existing styles */
.marker-bright-green-score {
    background-color: #32CD32;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
}

.marker-orange-score {
    background-color: #FFA500;
    color: black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
}

.marker-dark-red-score {
    background-color: #8B0000;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
}

.marker-icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

/* Enhancements */
.marker-bright-green-score,
.marker-orange-score,
.marker-dark-red-score,
.marker-icon {
    border: 2px solid white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    width: 18px;
    height: 18px;
}

.marker-bright-green-score:hover,
.marker-orange-score:hover,
.marker-dark-red-score:hover,
.marker-icon:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}
